*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    margin: 100px auto;
    max-width: 1300px;
    width: 95%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    border-bottom: 1px solid grey;
    background: white;
}

.navigation{
    margin-left: auto;
    margin-right: auto;
}

.menu a[href = "#"]::after, .menu a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu a[href = "#"]::after, .menu a:hover::after{
    width: 100%;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
}

/* .navigation ul li a::after{

}

.navigation ul li a:hover::after{
    
} */

.cart-icon{
    position: relative;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-image: url(../images/cart-icon.jpg);
}

#item-count{
    position: absolute;
    font-size: 24px;
    top: 14px;
    right: -14px;
}

.product{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product__img{
    height: 300px;
}

.product__item .product__title{
    text-align: center;
    margin-bottom: 5px;
}
.product__item .product__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.product__item .product__info{
    text-align: center;
    margin-bottom: 5px;
}

.product__item .product__price{
    text-align: center;
    margin-bottom: 5px;
}
.product__item .product__addcart{
    height: 22px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.product__item .product__addcart:hover{
    height: 22px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background: #E0E0E0;
}

.product__delete{
    width: 48px;
    height: 22px;
    border: 2px solid #001645;
    font-weight: 600;
    border-radius: 5px;
    background: white;
    color: #001645;
}

.product__delete:hover{
    width: 48px;
    height: 22px;
    border: 2px solid #001645;
    font-weight: 600;
    border-radius: 5px;
    background: #001645;
    color: white;
    transition: 0.5s;
}

@media (max-width:950px){
    .product{
        grid-template-rows: repeat(7, auto);
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width:768px){
    .product{
        grid-template-rows: repeat(10, auto);
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width:540px){
    .product{
        grid-template-rows: repeat(20, auto);
        grid-template-columns: 1fr;
    }
}

.cart{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.486);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart__body{
    position: relative;
    max-width: 900px;
    width: 95%;
    height: 400px;
    background: white;
    border-radius: 5px;
}

.cart__close{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/close-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cart-icon{
    cursor: pointer;
}

.cart__content{
    padding: 0 15px;
    margin-top: 15px;
    height: 85%;
    overflow-y: auto;
    font-size: 16px;
}

.cart__content td{
    padding: 5px 20px;
    text-align: left;
}


.cart__clear{
    width: 150px;
    height: 25px;
    border: 3px solid #001645;
    font-weight: 600;
    background: white;
    color: #001645;
    border-radius: 8px;
}

.cart__clear:hover{
    width: 150px;
    height: 25px;
    border: none;
    background: #001645;
    color: white;
    transition: 0.5s;
}

.cart__table{
    width: 100%;
    border-collapse: collapse;
}

.cart__content table tr td:nth-of-type(2){ /* nth-of-type(2) обращаемся к второму элементу */
    width: 60%;
    color: #001645;
    font-weight: 600;
}
.cart__content table tr td:nth-of-type(3){ /* nth-of-type(3) обращаемся к третьему элементу */
    color: #001645;
    font-weight: 600;
}

/* .cart__content table tr:nth-of-type(2n+1){
    background: white;
} */

.cart__content th{
    background: white !important; /* изменяем цвет фона к заголовкам "Название" и "Цена" */
}

